<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-inverse mb-3 text-center">
                <div class="card-header bg-primary">
                   <div class="card-tile">
                       <h2>Acme Bank Accounts</h2>
                   </div>
                </div>

                <div class="card-block">
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>Account Type</th>
                                <th>Account Holder</th>
                                <th>Account Number</th>
                                <th>Balance</th>
                                <th>Available</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let account of accounts">
                                <th scope="row">{{account.id}}</th>
                                <td>{{account.account_type}}</td>
                                <td>{{account.account_holder}}</td>
                                <td>{{account.account_number}}</td>
                                <td>{{account.balance | currency:'USD':true}}</td>
                                <td>{{account.available | currency:'USD':true}}</td>
                                <td>
                                    <button class="btn btn-sm btn-info">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>